.card__like {
    background: url(../../../images/icon-card-button.svg);
    width: 22px;
    height: 19px;
    padding: 0px;
    border: 0px;
    cursor: pointer;
}
.card__like:hover {
    opacity: 0.5;
}