.popup__image {
    max-width: 75vw;
    max-height: 75vh;
    min-height: 299px;
    min-width: 240px;
    object-fit: cover;
}
@media screen and (min-width: 924px) {
    .popup__image {
        min-width: 433px;
        max-width: 816px;
        height: auto;
    }
}